<div class="container-root">
  <!-- ツールバー -->
  <md-toolbar color="primary" class="container-header shadow-toolbar">
    <button md-icon-button (click)="cancelSetting()">
      <md-icon>arrow_back</md-icon>
    </button>
    <span class="header-title">ユーザー設定</span>
    <span class="header-spacer"></span>
    <button md-icon-button (click)="saveSetting()">
      <md-icon>save</md-icon>
    </button>
  </md-toolbar>

  <!-- 画像表示 -->
  <div class="container-body">
    <div class="app-content">
      <p>ユーザー設定</p>
    </div>
  </div>
</div>
