<div class="container-root">
  <!-- タイトルバー -->
  <md-toolbar color="primary" class="container-header shadow-toolbar">
    <span>{{title}}</span>
  </md-toolbar>

  <md-sidenav-container class="container-body">
    <!-- サイドメニュー -->
    <md-sidenav #sidenav class="sidenavi-side">
      <!-- メニューなし -->
    </md-sidenav>

    <!-- コンテンツ -->
    <div class="app-content">
      <md-card class="login">
        <md-card-content>
          <form (ngSubmit)="loginStart()" #heroForm="ngForm">
            <section>
              <md-input-container class="login-full-width">
                <input name="userName" mdInput placeholder="ユーザー名" [(ngModel)]="userName">
              </md-input-container>
            </section>
            <section>
              <md-input-container class="login-full-width">
                <input name="userPassword" type="password" mdInput placeholder="パスワード" [(ngModel)]="userPassword">
              </md-input-container>
            </section>
            <button type="submit" class="login-full-width" md-raised-button color="accent">ログイン</button>
          </form>
          <div *ngIf="isShowError">
            <p>{{errorMessage}}</p>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </md-sidenav-container>
</div>
