<div class="container-root">
  <!-- タイトルバー -->
  <md-toolbar color="primary" class="container-header shadow-toolbar">
    <span>{{title}}</span>
  </md-toolbar>

  <md-sidenav-container class="container-body">
    <!-- サイドメニュー -->
    <md-sidenav #sidenav class="sidenavi-side">
      <!-- メニューなし -->
    </md-sidenav>

    <!-- コンテンツ -->
    <div class="app-content">
      <md-card class="login">
        <md-card-content>
          <section>
            <md-input-container class="login-full-width">
              <input mdInput placeholder="ユーザー名" [(ngModel)]="userName">
            </md-input-container>
          </section>
          <section>
            <md-input-container class="login-full-width">
              <input type="password" mdInput placeholder="パスワード" [(ngModel)]="userPassword">
            </md-input-container>
          </section>
          <button class="login-full-width" md-raised-button color="accent" (click)="loginStart()">ログイン</button>
          <div *ngIf="isShowError">
            <p>{{errorMessage}}</p>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </md-sidenav-container>
</div>
