<md-sidenav-container>
  <md-sidenav #sidenav mode="{{sidenaviMode}}" opened="{{sidenaviOpened}}" class="sidenavi-menu">
    <md-nav-list class="sidenavi-menu-list">
      <md-toolbar color="primary" class="shadow-toolbar">
        <button *ngIf="sidenaviIconVisible" md-icon-button (click)="sideNaviToggle()">
          <md-icon>arrow_back</md-icon>
        </button>
        <span>{{appName}}</span>
      </md-toolbar>
      <md-list-item *ngFor="let item of categoryLinkList" (click)="jumpPage(item.title, item.link)">
        <md-icon md-list-icon>{{item.icon}}</md-icon>
        <p md-line>{{item.title}}</p>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item *ngFor="let item of reactionLinkList" (click)="jumpPage(item.title, item.link)">
        <md-icon md-list-icon>{{item.icon}}</md-icon>
        <p md-line>{{item.title}}</p>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item *ngFor="let item of otherLinkList" (click)="jumpPage(item.title, item.link)">
        <md-icon md-list-icon>{{item.icon}}</md-icon>
        <p md-line>{{item.title}}</p>
      </md-list-item>
    </md-nav-list>
  </md-sidenav>

  <div class="container-root">
    <div class="container-header">
      <md-toolbar color="primary" class="shadow-toolbar">
        <button *ngIf="sidenaviIconVisible" md-icon-button (click)="sideNaviToggle()">
          <md-icon>menu</md-icon>
        </button>
        <span class="header-title">{{title}}</span>
        <span class="header-spacer"></span>
        <button md-icon-button [mdMenuTriggerFor]="menu">
          <md-icon>more_vert</md-icon>
        </button>

        <!-- メニュー -->
        <md-menu #menu="mdMenu">
          <button md-menu-item>
            <md-icon>folder_special</md-icon>
            <span>お気に入り</span>
          </button>
          <button md-menu-item>
            <md-icon>sort</md-icon>
            <span>並び替え</span>
          </button>
          <button md-menu-item>
            <md-icon>photo_size_select_large</md-icon>
            <span>画像サイズ変更</span>
          </button>
          <button md-menu-item>
            <md-icon>view_module</md-icon>
            <span>取得個数変更</span>
          </button>
        </md-menu>
      </md-toolbar>
    </div>

    <div class="container-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</md-sidenav-container>
