<md-card class="grid-heder">
  <md-card-content>
    <div class="block-left">
      <button md-icon-button (click)="jumpUpFolder()">
        <md-icon>arrow_upward</md-icon>
      </button>
      <span>{{title}}</span>
    </div>
    <div class="block-right">
      <button md-icon-button [mdMenuTriggerFor]="menu">
        <md-icon>more_vert</md-icon>
      </button>
      <md-menu #menu="mdMenu">
        <button md-menu-item>
          <md-icon>folder_special</md-icon>
          <span>お気に入り</span>
        </button>
        <button md-menu-item>
          <md-icon>sort</md-icon>
          <span>並び替え</span>
        </button>
        <button md-menu-item>
          <md-icon>photo_size_select_large</md-icon>
          <span>画像サイズ変更</span>
        </button>
        <button md-menu-item>
          <md-icon>view_module</md-icon>
          <span>取得個数変更</span>
        </button>
      </md-menu>
    </div>
  </md-card-content>
</md-card>
<div class="grid-content">
  <md-grid-list cols="{{listColumn}}" rowHeight="3:4" gutterSize="8px">
    <md-grid-tile *ngFor="let item of itemList" class="shadow-card">
      <div [ngClass]="item.isdir ? 'grid-tile-folder' : 'grid-tile'" (click)="clickListItem(item)">
        <img *ngIf="item.image!=''" src="{{item.image}}" title="{{item.name}}" alt="{{item.name}}" class="grid-image" />
        <div *ngIf="item.image==''">
          <md-icon class="grid-text-icon">{{item.isdir ? 'folder' : 'error'}}</md-icon>
          <span class="grid-text">
            {{item.name}}
          </span>
        </div>
      </div>
    </md-grid-tile>
  </md-grid-list>
</div>
<md-card class="grid-footer">
  <md-card-content>
    <div class="block-center">
      <button md-icon-button (click)="jumpFirstPage()">
        <md-icon>first_page</md-icon>
      </button>
      <button md-icon-button (click)="jumpPrevPage()">
        <md-icon>chevron_left</md-icon>
      </button>
      <span>{{nowPageCount}}/{{totalPageCount}}</span>
      <button md-icon-button (click)="jumpNextPage()">
        <md-icon>chevron_right</md-icon>
      </button>
      <button md-icon-button (click)="jumpLastPage()">
        <md-icon>last_page</md-icon>
      </button>
    </div>
  </md-card-content>
</md-card>
