<md-toolbar color="primary" class="shadow-toolbar title-toolbar">
  <div *ngFor="let titleItem of titleList; let i = index" class="title-toolbar-item">
    <md-icon *ngIf="i!=0">chevron_right</md-icon>
    <button md-button (click)="jumpFolder(titleItem.hash)">{{titleItem.title}}</button>
  </div>
</md-toolbar>

<div class="grid-content">
  <md-grid-list cols="{{listColumn}}" rowHeight="3:4" gutterSize="8px">
    <md-grid-tile *ngFor="let item of itemList" class="shadow-card">
      <div [ngClass]="item.isdir ? 'grid-tile-folder' : 'grid-tile'" (click)="clickListItem(item)">
        <img *ngIf="item.image!=''" src="{{item.image}}" title="{{item.name}}" alt="{{item.name}}" class="grid-image" />
        <div *ngIf="item.image==''">
          <md-icon class="grid-text-icon">{{item.isdir ? 'folder' : 'error'}}</md-icon>
          <span class="grid-text">
            {{item.name}}
          </span>
        </div>
      </div>
    </md-grid-tile>
  </md-grid-list>
</div>
<md-card class="grid-footer">
  <md-card-content>
    <div class="block-center">
      <button md-icon-button (click)="jumpFirstPage()">
        <md-icon>first_page</md-icon>
      </button>
      <button md-icon-button (click)="jumpPrevPage()">
        <md-icon>chevron_left</md-icon>
      </button>
      <span>{{nowPageCount}}/{{totalPageCount}}</span>
      <button md-icon-button (click)="jumpNextPage()">
        <md-icon>chevron_right</md-icon>
      </button>
      <button md-icon-button (click)="jumpLastPage()">
        <md-icon>last_page</md-icon>
      </button>
    </div>
  </md-card-content>
</md-card>
